---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Calendar',
};
---

<Layout metadata={metadata}>
  <div class="flex justify-center py-8">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&src=ZWU0YzgxMWY0NzQyYzc2NTg5MjUxNTZkMTViMzRmM2JiM2NlMmUzN2EyMzkxMTQ4YjQyMDc5ZDU3NTgyOWNiZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB"
      style="border:solid 1px #777"
      class="w-full max-w-4xl h-96 md:h-[600px]"></iframe>
  </div>
</Layout>
