---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Calendar',
};
---

<Layout metadata={metadata}>
  <div class="flex justify-center py-8">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&src=NWU3ZDlhN2YxYThkNjEwMGYxNzUxYTIxMmZkYWM3ZmRhMWIyYTU3OTY0NGFlYzQ2NTRkYmE4Mjk0Yjc1YjFiZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%238E24AA"
      style="border:solid 1px #777"
      class="w-full max-w-4xl h-96 md:h-[600px]"></iframe>
  </div>
</Layout>
