---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
import { getCollection } from 'astro:content';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';

const metadata = {
  title: 'Documents',
};

const allDocs = await getCollection('database');

const getSortableDate = (doc) => {
  const dateString =
    doc.data.properties['date_published']?.date?.start || doc.data.properties['date_created']?.date?.start || 0;
  return new Date(dateString).getTime();
};

const sortedDocs = allDocs.sort((a, b) => getSortableDate(b) - getSortableDate(a));
---

<Layout metadata={metadata}>
  <Headline title="Posts" />
  <WidgetWrapper>
    <div class="space-y-8">
      {
        sortedDocs.map((doc) => (
          <article class="border-b pb-6">
            <a href={`/documents/${doc.id}`} id={doc.id} class="block">
              <h2 class="text-2xl font-bold text-blue-600 hover:underline">
                {doc.data.properties['name'].title.map((item) => item.plain_text).join('')}
              </h2>
            </a>
            {doc.data.properties['date_created'] && (
              <p class="text-sm text-gray-500 mt-1">
                {getSortableDate(doc) > 0
                  ? new Date(getSortableDate(doc)).toLocaleDateString('en-US', {
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric',
                      timeZone: 'UTC',
                    })
                  : 'No date available'}
              </p>
            )}
            {doc.data.properties['description'] && (
              <p class="text-base text-gray-700 dark:text-gray-200 mt-2">
                {doc.data.properties['description'].rich_text.map((item) => item.plain_text).join('')}
              </p>
            )}
          </article>
        ))
      }
    </div>
  </WidgetWrapper>
</Layout>
