---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ABHA',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/b-line-hero-placeholder.png', alt: 'B Line Through Allston' }}>
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Allston-Brighton</span> Housing Action
    </Fragment>

    <Fragment slot="subtitle">
      We are a community group advocating for <span class="text-accent dark:text-white highlight"
        >abundant, affordable, and diverse</span
      > housing in Allston-Brighton. We support policies that make it easier to build homes for all—<span
        class="text-accent dark:text-white highlight">renters and owners, individuals and families</span
      >—while fostering a walkable, vibrant neighborhood with strong arts, culture, and mobility options. <br /><br
      />Together, we’re shaping a future where everyone can thrive.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="values"
    tagline="Values"
    title="Our Vision for Allston-Brighton"
    subtitle="We are guided by these core values in our work to create a more vibrant, equitable, and affordable neighborhood."
    items={[
      {
        title: 'Housing for All',
        description:
          'We advocate for diverse housing options, ensuring renters, owners, and families of all kinds can find homes that meet their needs.',
        icon: 'tabler:home',
      },
      {
        title: 'Supporting Arts & Culture',
        description:
          'We work to keep Allston-Brighton a creative hub by promoting housing and workspace for artists, musicians, and artisans.',
        icon: 'tabler:music',
      },
      {
        title: 'Smart Growth & Zoning Reform',
        description:
          'We push for planning and zoning policies that allow more multi-unit housing and mixed-use development, creating a walkable and vibrant neighborhood.',
        icon: 'tabler:building-skyscraper',
      },
      {
        title: 'Mobility & Sustainability',
        description:
          'We advocate for safe, multimodal transportation options that reduce car dependency, improve health, and strengthen climate resilience.',
        icon: 'tabler:bus',
      },
      {
        title: 'Expanding Affordability',
        description:
          'We support policies that increase subsidies and financial incentives to make affordable housing more feasible to build.',
        icon: 'tabler:moneybag',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Google Group',
        href: '#',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> Join us! </Fragment>

    <Fragment slot="subtitle">
      Interested in building a more affordable, inclusive, and vibrant Allston-Brighton? Get involved today!
    </Fragment>
  </CallToAction>
</Layout>
